<p-table
  #dt
  [value]="simulationList()"
  dataKey="quoteReference"
  [showCurrentPageReport]="true"
  [rowHover]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10,20,50]"
  [paginator]="true"
  currentPageReportTemplate="{first} au {last} des {totalRecords} Simulations"
  [globalFilterFields]="['id','createdAt', 'quoteReference', 'productCode', 'userId', 'power', 'valueNew', 'valueVenal', 'price', 'circulationDate', 'endPrice']"
  responsiveLayout="scroll"
  [filterDelay]="0"
  [stripedRows]="true"
  [resizableColumns]="false">

  <ng-template #caption>
    <div class="flex justify-between items-center gap-2">
      <div class="flex flex-col gap-1">
        <h1 class="text-3xl font-semibold">Simulations</h1>
      </div>
      <p-button (onClick)="goToAdding()" label="Créer une simulation" icon="pi pi-plus" />
    </div>
  </ng-template>

  <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="quoteReference" style="min-width: 14rem">
          <div class="flex justify-between items-center">
              Quote Reference
              <p-sortIcon field="quoteReference" />
              <p-columnFilter type="text" field="details" display="menu" class="ml-auto" />
          </div>
        </th>

        <th pSortableColumn="createdAt" style="min-width: 14rem">
          <div class="flex justify-between items-center">
              Date création
              <p-sortIcon field="createdAt" />
              <p-columnFilter type="date" field="createdAt" display="menu" class="ml-auto" />
          </div>
        </th>

        <th pSortableColumn="productCode" style="min-width: 14rem">
          <div class="flex justify-between items-center">
              Code produit
              <p-sortIcon field="productCode" />
              <p-columnFilter type="text" field="productCode" display="menu" class="ml-auto" />
          </div>
        </th>

        <th pSortableColumn="circulationDate" style="min-width: 14rem">
          <div class="flex justify-between items-center">
              Date de circulation
              <p-sortIcon field="circulationDate" />
              <p-columnFilter type="date" field="circulationDate" display="menu" class="ml-auto" />
          </div>
        </th>

        <th pSortableColumn="power" style="min-width: 14rem">
          <div class="flex justify-between items-center">
              Puissance
              <p-sortIcon field="power" />
              <p-columnFilter type="numeric" field="power" display="menu" class="ml-auto" />
          </div>
        </th>

        <th pSortableColumn="valueNew" style="min-width: 14rem">
          <div class="flex justify-between items-center">
              Valeur à neuf
              <p-sortIcon field="valueNew" />
              <p-columnFilter type="numeric" field="valueNew" display="menu" class="ml-auto" />
          </div>
        </th>

        <th pSortableColumn="valueVenal" style="min-width: 14rem">
          <div class="flex justify-between items-center">
              Valeur Vénale
              <p-sortIcon field="valueVenal" />
              <p-columnFilter type="numeric" field="valueVenal" display="menu" class="ml-auto" />
          </div>
        </th>

        <th pSortableColumn="price" style="min-width: 14rem">
          <div class="flex justify-between items-center">
              Prix
              <p-sortIcon field="price" />
              <p-columnFilter type="numeric" field="price" display="menu" class="ml-auto" />
          </div>
        </th>
        <th pSortableColumn="endDate" style="min-width: 14rem">
          <div class="flex justify-between items-center">
              Date de fin
              <p-sortIcon field="endDate" />
              <p-columnFilter type="date" field="endDate" display="menu" class="ml-auto" />
          </div>
        </th>
        <th>Actions</th>
      </tr>
  </ng-template>

  <ng-template pTemplate="body" let-simulation>
      <tr>
        <td>{{ simulation.quoteReference }}</td>
        <td>{{ simulation.createdAt | date: 'dd/MM/yyyy' }}</td>
        <td> {{simulation.product.name }} </td>
        <td>{{ simulation.circulationDate |  date: 'dd/MM/yyyy' }}</td>
        <td>{{ simulation.power }}</td>
        <td>{{ simulation.valueNew | currency :'XOF' }}</td>
        <td>{{ simulation.valueVenal | currency :'XOF' }}</td>
        <td>{{ simulation.price | currency :'XOF' }}</td>
        <td>{{ simulation.endDate |  date: 'dd/MM/yyyy' }}</td>
        <td>
          @if (simulation.subscription || endDatePassed(simulation)) {
            <div>__</div>
          } @else {
            <p-button severity="info" class="" label="Souscrire" (onClick)="proceedToSubcription(simulation)" />
          }
        </td>
      </tr>
  </ng-template>
</p-table>
<p-toast />


