@import "tailwindcss";
@import "primeicons/primeicons.css";
@import "tailwindcss-primeui";

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px; /* Adjust the scrollbar width */
}
::-webkit-scrollbar-track {
  background: #f3f4f6; /* Track color */
}
::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* Thumb color */
  border-radius: 8px; /* Rounded thumb */
}

* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #6b7280 #f3f4f6; /* Thumb and track color */
}
